[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm
